.error-message {
  color: rgb(211, 64, 64);
}
a {
  cursor: pointer;
}

img {
  width: 45%;
}
.container {
  height: 90vh;
}

:host ::ng-deep .p-button .p-button-icon-left {
  margin-right: 0;
}
strong {
  color: blueviolet;
}
.login-img-container {
  display: inline;
}
.header {
  padding: 20px 0 0 30px;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
  .container {
    flex-direction: column;
  }
  .signin-image {
    width: 50%;
    height: 50%;
    transform: translate(50%, 0%);
  }
  .p-inputgroup,
  .p-button {
    width: 100%;
  }
  .sign-up-img {
    width: 50%;
    height: 50%;
    transform: translate(50%, 0%);
  }
}
