:host ::ng-deep {
  .p-avatar {
    cursor: pointer;
  }
  .p-inputgroup {
    width: 50%;
  }
  .p-menu {
    position: absolute;
    top: 67px;
    right: 4px;
    z-index: 1;
  }
  .p-selectbutton.p-buttonset.p-component {
    display: inline;
  }
}

.header {
  height: 80px;
}

a:link,
a:visited {
  text-decoration: none;
}
