<div class="flex justify-content-between align-items-center header">
  <a routerLink="/home/dashboard">
    <div><span class="logo-title">Geek</span><span class="title-text">Finder</span></div>
  </a>

  <span class="p-float-label">
    <p-autoComplete [(ngModel)]="searchKeyword" [suggestions]="searchResults" (completeMethod)="search()"
      inputId="float-label" field="displayName">
      <ng-template let-result pTemplate="item">
        <div (click)="callSearchProfile(result)">{{result.displayName}}
        </div>
      </ng-template>
    </p-autoComplete>
    <label for="float-label">Search</label>
  </span>


  <div class="flex justify-content-between align-items-center">
    <p-button label="Add Post" class="mr-3" (onClick)="openPostModal=true"></p-button>
    <p-avatar image="{{avatarLink}}" styleClass="mr-2" size="xlarge" shape="circle" (click)="showMenu()">
    </p-avatar>
  </div>
</div>
<p-menu #menuPopup [model]="menuItems" appendTo="body" *ngIf="isMenuVisible" class="mt-2"></p-menu>

<p-dialog [visible]="openPostModal">

  <!-- <p-toast></p-toast> -->
  <p-fileUpload mode="basic" chooseLabel="Choose" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
    accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)"></p-fileUpload>
</p-dialog>
