<div class="p-4">
  <div class="project-title font-bold text-xl">Projects</div>
  <p-dataView #dv [value]="projectList.projects">
    <ng-template let-product pTemplate="listItem">
      <div class="col-11">
        <div class="flex xl:flex-row align-items-center p-3">
          <p-avatar label="{{product.title.charAt(0)}}" styleClass="mr-2" size="large"
          [style]="{ 'background-color': randomColor, color: '#ffffff' }">
          </p-avatar>
          <div
            class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
            <div class="flex flex-column align-items-center sm:align-items-start gap-2">
              <div class="font-bold cursor-pointer" (click)="navigateToProject(product._id)">{{product.title}}</div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
