.comment-box {
  padding: 6px;
  background: #d3d3d34d;
  border-radius: 13px;
  width: 100%;
}
.list-container {
  width: 100%;
}
:host ::ng-deep {
  .p-input-icon-right,
  .p-input-icon-right > .p-inputtext {
    width: 100%;
  }

  p-listbox {
    position: absolute;
    top: 18px;
    right: 0;
    z-index: 1;
    width: 25rem;
  }

  .pi-user-minus {
    pointer-events: none;
    opacity: 0.5;
  }

  .p-card {
    box-shadow: 0 0px 3px -1px rgba(0, 0, 0, 0.2),
      0 1px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  }
  .p-card .p-card-content {
    padding: 0;
  }
}

.request-icon {
  align-self: center;
  position: relative;
}

.post-image {
  text-align: center;
}
