.avatar-container {
  position: absolute;
  bottom: -27px;
  left: 48%;
}

:host ::ng-deep {
  .list-card {
    width: 100%;
    .p-card {
      box-shadow: none;
    }
  }
  .p-avatar.p-avatar-xl {
    width: 6rem;
    height: 6rem;
  }
  .p-avatar.p-avatar-circle {
    border: 3px solid white;
  }
  .p-card .p-card-title {
    text-align: center;
    margin-left: 24px;
  }
  .img-container {
    position: relative;
  }

  .p-card .p-card-subtitle {
    text-align: center;
  }

  .p-accordion {
    width: 450px;
  }

  .p-timeline-event-opposite {
    flex: 0 0 49%;
  }

  .p-card .p-card-content {
    padding: 0;
  }
  .p-splitter-horizontal > .p-splitter-gutter {
    width: 0px !important;
  }
  .p-splitter {
    border: none;
  }
  .p-dataview.p-dataview-list .p-dataview-content > .p-grid > div {
    border: none;
    border-width: 0;
  }
  .profile-card > .p-card {
    box-shadow: none;
    width: 100%;
  }
}

.detail-modal {
  .p-inputtext {
    width: 94%;
  }
}

.cover-1 {
  height: 180px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(204 126 153) 35%,
    rgb(95 207 230) 100%
  );
}
.cover-2 {
  height: 180px;
  background: radial-gradient(
    circle,
    rgb(114 129 204) 0%,
    rgb(184 121 133) 100%
  );
}
.post-container {
  width: 97%;
}

@media (max-width: 768px) {
  .container.grid {
    flex-direction: column-reverse;
  }
  .col-3,
  .col-9 {
    width: 100%;
  }
  :host ::ng-deep {
    .p-splitter {
      flex-direction: column-reverse;
    }
    .p-accordion {
      width: 112%;
    }
  }
  .links {
    flex-direction: column;
  }
}
