.project-container {
  width: 20%;
}
.post-container {
  width: 45%;
  position: relative;
}
.tech-news-container {
  width: 25%;
}
a:link {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}
::ng-deep .p-card {
  box-shadow: 0 0px 3px -1px rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.14),
    0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .project-container,
  .post-container,
  .tech-news-container {
    width: 100%;
  }

  .post-container {
    order: 1;
  }
  .project-container {
    order: 2;
  }
  .tech-news-container {
    order: 3;
  }

  .project-title,
  .font-bold {
    font-size: smaller;
  }
}
